<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>characterpics/mermaid_body.png</key>
		<dict>
			<key>frame</key>
			<string>{{1883, 1883}, {1880, 1880}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1880, 1880}}</string>
			<key>sourceSize</key>
			<string>{1880, 1880}</string>
		</dict>
		<key>characterpics/mermaid_left_arm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1883}, {1880, 1880}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1880, 1880}}</string>
			<key>sourceSize</key>
			<string>{1880, 1880}</string>
		</dict>
		<key>characterpics/mermaid_lowerbody1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1883, 1}, {1880, 1880}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1880, 1880}}</string>
			<key>sourceSize</key>
			<string>{1880, 1880}</string>
		</dict>
		<key>characterpics/mermaid_right_arm.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1880, 1880}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1880, 1880}}</string>
			<key>sourceSize</key>
			<string>{1880, 1880}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{8192, 4096}</string>
		<key>textureFileName</key>
		<string>characterpics.png</string>
	</dict>
</dict>
</plist>
